/* HEADER */
/*Font ('Baking Pastry') Credit: Burhan Afif (https://www.dafont.com/baking-pastry.font) */

@font-face{
    font-family: Baking Pastry bold;
    src: url(BakingPastry.tff);
}  
    
body {
    background-color: #FFFCED;
}
.header_images, .home {
    margin: 30px;
}
.header_images, .menu {
    margin: 30px;
}
.header_images, .flavors {
    margin: 30px;
}
.header_images, .faqs {
    margin: 30px;
}
.header_images, .contact {
    margin: 30px;
}
.header_images, .account {
    margin: 30px;
}
.header_images, .cart {
    margin: 30px;
}

.header_text, a:link, a:visited{
    color: #955B36;
    text-decoration: none;
}
.header_text {
    font: 10px Quicksand;
    color: #955B36;
    letter-spacing: 4px;
}
header {
    position: relative;
}

.logo {
    position: relative;
    top: 30px;
    left: 70px;
}

.header_text {
    position: absolute;
    top: 145px;
    left: 330px;
}
.header_text .cart{
    position: relative;
    top: 2px;
    left: 0px;
}
.header_text .menu {
    position: relative;
    top: 5px;
    left: 0px;
}
.header_text .home {
    position: relative;
    top: 7px;
    left: 0px;
}
.header_text .faqs {
    position: relative;
    top: 3px;
    left: 0px;
}
.header_text .flavors {
    position: relative;
    top: 5px;
    left: 0px;
}
.header_text .contact, .account {
    position: relative;
    top: 3px;
    left: 0px;
}
.header_text .home {
    margin-left: 30px;
    margin-right: 30px;
}
.header_text .menu {
    margin-left: 72px;
    margin-right: 30px;
}
.header_text .flavors {
    margin-left: 63px;
    margin-right: 30px;
}
.header_text .faqs {
    margin-left: 58px;
    margin-right: 30px;
}
.header_text .contact {
    margin-left: 55px;
    margin-right: 30px;
}
.header_text .account {
    margin-left: 35px;
    margin-right: 30px;
}
.header_text .cart {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 0px;
}

.header_images {
    position: absolute;
    top: 65px;
    left: 280px;
}
.header_images .home, .menu, .flavors, .faqs, .contact, .account, .cart {
    margin-left: 61px;
    margin-right: 61px;
}
.header_images .home {
    position: relative;
    top: 5px;
}
.header_images .menu {
    position: relative;
    top: 6px;
}
.header_images .flavors {
    position: relative;
    top: 10px;
}
.header_images .contact {
    position: relative;
    top: 2px;
}
.header_images .account, .cart {
    position: relative;
    top: 5px;
}

/* MENU */

h2{
    font-family: "Baking Pastry";
    font-weight: normal;
    letter-spacing: 20px;
    font-size: 64px;
    text-align: center;
    color: #FE959F;
}

.toprow {
    position: relative;
    top: 20px;
    left: 80px;
}
.toprowtext .original{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 430px;
    left: 295px;
}
.toprowtext .blackberry{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 430px;
    left: 750px;
}
.toprowtext .walnut{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 430px;
    left: 1205px;
}

.orderoriginal {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 530px;
    left: 285px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.orderblackberry {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 530px;
    left: 740px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.orderwalnut {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 530px;
    left: 1195px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.ordergluten-free {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 855px;
    left: 285px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.orderpumpkinspice {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 855px;
    left: 740px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.ordercaramelpecan {
    font:20px "Baking Pastry";
    letter-spacing: 7px;
    position: absolute;
    top: 855px;
    left: 1195px;
    width: 105px;
    height: 40px;
    text-align: center;
    background-color: #955B36;
    color: #FFFCED;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.bottomrow {
    position: relative;
    top: 130px;
    left: 80px;
    margin-bottom: 100px;
}
.bottomrowtext .gluten-free{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 750px;
    left: 295px;
}
.bottomrowtext .pumpkinspice{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 750px;
    left: 750px;
}
.bottomrowtext .caramelpecan{
    font:17px Quicksand;
    letter-spacing: 4px;
    line-height: 25px;;
    position: absolute;
    color: #955B36;
    position: absolute;
    top: 750px;
    left: 1205px;
}
.toprow .original, .blackberry, .walnut {
    margin-right: 250px;
}
.bottomrow .gluten-free, .pumpkinspice, .caramelpecan {
    margin-right: 250px;
}
button:hover {
    background-color: #B67A54;
    cursor: pointer;
}
